@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ubuntu:wght@300&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
    font-family: 'Ubuntu', sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:'Ubuntu', sans-serif;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:'Ubuntu', sans-serif;font-weight: 400;}



$container: 1170px;






.dimmed-filter {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.2;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    z-index: 2;

    transition: all 0.5s;
}






.header-info-top {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;

    position: relative;
    

    text-transform: uppercase;
    font-size: 9px;
}

.header-info-container {
    width: $container;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.header-nav-container {
    display: flex;
    flex-direction: row;
    & > * {
        margin-left: 20px;
    }

    &:first-child {
        margin-left: 0px;
    }
}

.header-nav-container-link {
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header-nav-container-link:hover {
    opacity: 0.5;
}

.header-phones {
    font-size: 13px;
}




.header-icon-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #6d6d6d;

    a {
        color: #6d6d6d;
        padding-left: 20px;
    }
}


.header-working-hours-popab {
    display: none;
    background-color: #fff;
    padding: 15px;
    letter-spacing: 1.1;
    font-size: 13px;

    position: absolute;
    top: 150%;
    z-index: 2;

    & > * {
        margin-bottom: 5px;
    }
    
    
    .header-working-popab-hours {
        font-size: 24px;
        font-weight: 300;
    }


    span {
        vertical-align: super;
        font-size: 14px;
    }



}














header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;

    position: relative;

    a {
        color: white;
    }
}

.header-menu {
    display: flex;
    flex-direction: row;
    width: $container;
}

.class-header-logo {
    z-index: 100;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;

    & svg {
        width: 100%;
        height: 100%;
    }
}

.class-header-menu {
    display: flex;
    flex-direction: column;
    width: $container - 100px;
}

.menu-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-top-items {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;

    & .active-item {
        text-decoration: underline 3px;
        text-underline-offset: 4px;
    }

    & a {
        margin-left: 30px;
    }

    & a:first-child {
        margin-left: 0px;
    }
}


.menu-bottom {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    & > div {
        display: block;
        font-size: 13px;
        font-family: 'Ubuntu', sans-serif;
        white-space: nowrap;
        padding: 10px 17px;
        letter-spacing: 1.1px;
    }

    & > div:first-child {
        padding: 10px 0px;
    }

    & > div:hover {
        cursor: pointer;
        text-decoration: none;
        text-decoration: underline 2px;
        text-underline-offset: 4px;
    }

    div.drop:hover {
        background-color: #fff;
        z-index: 3;
        a {
            color:black;
        }  
    }

    .red a {
        color: red;
    }

    .green a {
        color:green;
    }
}



.menu-top-icons {
    display: flex;
    flex-direction: row;
    & a {
        margin-right: 20px;
        width: 20px;
        height: 20px;
    }
}


.clothing {
    display: none;
}

.backpacks {
    display: none;
}

.accessories {
    display: none;
}





.drop-down-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 5;

    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    a {
        color: #b3b3b3;
        letter-spacing: 1px;
    }
}

.drop-down-menu-content {
    width: 810px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding: 60px 35px;
    min-height: 300px;


    .drop-down-menu-title.first {
        margin-top: 0px;
    }

     

}

.drop-down-menu-column {
    & > * > * {
        border-bottom: 1px solid white;
    }
    & > * > *:hover {
        border-bottom: 1px solid black;
    }
}


.drop-down-menu-title {
    margin-top: 40px;
    font-weight: 700;
    color: black;
    padding-bottom: 5px;
}

.drop-down-menu-item {
    margin-top: 20px;
    font-weight: 300;
    padding-bottom: 2px;
}























.content-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    & > * {
        align-self: center;
    }
}

.screen-1 {
    align-self: center;
    position: relative;

    .image-2 {
        display: none;
    }
}


.button-dark {
    background-color: black;
    transition: opacity .2s ease;
    padding: 10px 0px;
    width: 100px;
    text-align: center;

    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;

    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
        opacity: 0.8;
    }
}



.button-cream {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    
    padding: 8px;
    text-align: center;

    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;

    position: absolute;
    bottom: 10px;
    left: 10px;
}










.screen-2 {
    width: $container;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}


.class-img {
    position: relative;

    img {
        width: 100%;
    }
}


.content-box {
    & > * {
        margin: 30px 0px 60px;
    }
}

.screen-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
    .screen-name {
        padding: 0 25px 15px 0;
        border-bottom: 3px solid #000;
    }

    .title-scroll-svg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}



.screen-slider-1 {
    width: $container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
 
    a {
        overflow: hidden;
    }

    a img {
        transition: transform 1.2s ease;
    }


    a:hover img {
        transform: scale(1.08);
    }
}






.screen-slider-2 {
    width: $container;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    
    .card-description * {
        margin-bottom: 10px;
    }  
}

.card {
    position: relative;

    a {
        display: block;
        overflow: hidden;
        transition: all 1.2s ease;
        height: 337.5px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        transition: all 0.5s;
    }



    a:hover img{
        transform: scale(1.05)
    }
}


.card-product-name {
    font-weight: 400;
    font-size: 14px;
}

.card-product-size {
    font-size: 11px;
    color: #b3b3b3;
}

.card-product-price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .card-product-discount {
        color: red;
        font-weight: 500;
        font-size: 18px;
    }


    .card-product-no-discount {
        font-weight: 500;
        font-size: 18px;
    }

    .card-product-no-discount.discount {
        margin-left: 5px;
        text-decoration:line-through;
        font-size: 12px;
        font-weight: 300;
        color: #777;
    }
}



.sticker-discount {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 6px 4px;
    background-color: #eb001c;
    color: #fff;
}

.card-like {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    background-color: #fff;

}














footer {
    background-color: #f0f3f2;
    padding: 50px 0 50px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: #000;
    font-size: 13px;

    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-container {
    width: $container;
    display: flex;
    justify-content: space-between;
}


.footer-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
}


.footer-link {

    margin-bottom: 30px;
    a {
        color: #000;
        transition: all 0.2s;
    }

    a.green {
        color: green;
    }

    a.red {
        color: red;
    }

    a:hover {
        color: #000;
        opacity: .7;
    }

}


.footer-info-links {
    display: flex;
    justify-content: space-between;

    .footer-info-links-mastercard {
        margin-left: 30px;
    }
}


.footer-socials-links {
    display: flex;
    justify-content: space-between;

    a {
        transition: all .2s;
    }
}

.footer-marketplaces {
    margin-top: 40px;
}

.footer-subscribe {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
}

.footer-subscribe-text {
    margin-left: 10px;
}



.footer-subscribe:hover, .footer-socials-links a:hover {
    opacity: 0.6;
}





.footer-link .green a {
    color: green;
}





.footer-div-cop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
    .footer-divider {
        width: 66px;
        height: 3px;
        background-color: #000;
    }

    .footer-copyright {
        font-weight: 300;
        font-size: 12px;
        color: #b3b3b3;
        margin-top: 27px;
        text-align: center;
    }
    
}




.nav-b-menu {
    display: none;
}


.phone-icon {
    display: none;
}



.scroll-widget {
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    background-color: white;
    padding: 10px 50px 10px 0px;
    min-width: 100%;
    scrollbar-width: none;
    white-space: nowrap;

}


.round-widget {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: green solid 2px;
    border-radius: 50%;
    margin-bottom: 5px;

}

.round-widget-2 {
    background: center no-repeat url("https://static.staff-clothes.com/uploads/media/default/0002/49/566a3ceaaee24f35b6f48c529507e119.jpeg");
    background-size: 100%;
    width: 56px;
    height: 56px;
    border: white solid 2px;
    border-radius: 50%;
}


.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 70px;
    font-size: 11px;
    margin-left: 50px;
}








.nav-menu {
    display: none;

    padding: 20px 0px;
    width: 370px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    a {
        color:#fff;
        display: block;
    }

    div.red {
        color: red;
    }

    div.green {
        color:green;
    }

    & > div {
        padding: 10px 20px;
    }


    text-transform: uppercase;
    font-size: 13px;

    .nav-link-box {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
}


.nav-sex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
    div:nth-child(1) {
        text-decoration: underline 3px;
        text-underline-offset: 4px;
    }
}


.nav-hr-line {
    height: 1px;
    margin: 20px 0px;
    background-color: #b3b3b3;
}

.nav-menu > .nav-hr-line {
    padding: 1px;
}


.nav-catalog {
    & > a {
        padding: 15px;
    }
}


.nav-news {
    & > a {
        padding: 10px;
        color: #6d6d6d;
    }
}



.nav-footer-socials {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}


.nav-footer-socials-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.nav-footer-marketplaces {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;

    & > * {
        border: #fff solid 1px;
        border-radius: 5px;
    }
}




// body {
//     overflow: hidden;
// }








@media screen and (max-width: 1200px) {

    .nav-menu {
        position: absolute;
        z-index: 10;
        top: 100%;
        left: 0px;
    }



    .phone-icon {
        display: block;
    }

    .header-info-container {
        display: none;
    }
    .menu-bottom {
        display: none;
    }

    .menu-top-items {
        display: none;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    .class-header-menu {
        width: auto;
    }

    .nav-b-menu {
        z-index: 100;
        display: flex;
        flex-direction: row;
        align-items: center;

        .class-header-logo {
            display: none;
        }
    }

    .content-area {
        padding: 0px 20px;
    }
    .header-info-container, .header-menu, .screen-2, .screen-slider-1, .screen-slider-2, .footer-container {
        width: 100%;
    }

    .footer-container {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;

    }

    .screen-slider-1 {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }


    .screen-slider-1 a:nth-child(3) {
        display: none;
    }


    .screen-slider-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        
        .card-description * {
            margin-bottom: 10px;
        }  
    }


    .screen-slider-2 .card:nth-child(4) {
        display: none;
    }


    .class-header-logo {
        margin: 0px;
    }
    

    .button-dark {
        bottom: 15px;
    }
    

}



@media screen and (max-width: 770px) {

    .scroll-widget {
        display: flex;
    }

    .class-header-logo {
        display: none;
    }
    
    .class-header-logo.nav-b {
        display: block;
    }

    .header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding: 0px 20px;
    }

    // Поправити
    .footer-container {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;

    }

    .class-img > .button-dark {
        display: none;
    }

    .screen-1 {
        .image-1 {
            display: none;
        }

        .image-2 {
            display: block;
        }
    }

}




@media screen and (max-width: 600px) {

    .footer-container {
        padding: 0px 20px;
        display: flex;
        flex-wrap: wrap;

    }

    .screen-slider-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 30px;
        row-gap: 30px;
    }

    .screen-slider-1 a:nth-child(2) {
        display: none;
    }


    .screen-slider-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        
        .card-description * {
            margin-bottom: 10px;
        }  
    }

    .screen-slider-2 .card:nth-child(3) {
        display: none;
    }
    
    .footer-catalog, .footer-info, .footer-socials > .footer-title {
        display: none;
    }

    .footer-socials {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-socials > * {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
    }
    
    .footer-subscribe {
        width: 50%;
    }

    .screen-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}





